<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="jumbotron">
    <div class="container">
      <h1>{% include "mainApp/includes/some_html.html" %}</h1>
      {% block content %}
      {% endblock %}
      <p>
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/news" class="btn btn-primary btn-lg">Узнать больше &raquo;</a>
      </p>
    </div>
  </div>
  <div class="container">
    <img src="http://static.pmmlabs.ru/images/github-logo.png" class="img-thumbnail">
    <hr>
    &copy; Все права защищены 2018
  </div>
</body>
</html>